<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model["venue"].GetVenueName()</title>
  </head>
  <body>
    <h2>@Model["venue"].GetVenueName()</h2>
    <h4>These bands have played here:</h4>
    @if(Model["venueBands"].Count == 0)
    {
      <h5>This venue has no bands yet.</h5>
    }
    @if(Model["venueBands"].Count != 0)
    {
      @foreach(var band in Model["venueBands"])
      {
        <h5><a href="/bands/@band.GetId()">@band.GetBandName()</a></h5>
      }
    }
    <h4>Add a band to this venue:</h4>

    @if(Model["allBands"].Count == 0)
    {
      <h5>There are no bands in the system yet.</h5>
      <h5>Add a band to the system:</h5>
      <form  action="/bands" method="post">
        <label for="band-name">Enter the Band's name.</label>
        <input type="text" name="band-name">
        <button type="submit" name="button">Submit</button>
      </form>
    }
    @if(Model["allBands"].Count != 0)
    {
      <form  action='/venues/@Model["venue"].GetId()' method="post">
        <select name="band-id">
          @foreach(var band in Model["allBands"])
          {
            <option value="@band.GetId()">@band.GetBandName()</option>
          }
        </select>
        <button type="submit" name="button">Submit</button>
      </form>
    }
    <br>
    <form  action='/venues/@Model["venue"].GetId()' method="post">
      <label for="venue-name">Edit the Venue's name.</label>
      <input type="text" name="venue-name" value='@Model["venue"].GetVenueName()'>
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="venue-id" value='@Model["venue"].GetId()'>
      <button type="submit" name="button">Submit</button>
    </form>
    <br>
    <form action='/venues/@Model["venue"].GetId()' method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete this venue</button>
    </form>
    <br>
    <a href="/bands">View all bands</a> |
    <a href="/venues">View all venues</a>
  </body>
</html>
